/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 共版 */
body{
    line-height: 1.5;
    font-family: "Noto Sans TC", "Microsoft YaHei", sans-serif;
}
:root {
    --clr-bg-y: #fef4dd;    /*背景-黃*/
    --clr-bg-g: #bbbbbb;    /*背景-灰*/
    --clr-primary: #f1c493; /*主色*/
    --clr-border: #a26d39;  /*邊框線*/
    --clr-specfont: #562f09;/*主標*/
    --clr-font: #0c0b0b;    /*內文*/
    --mainfont:36px;    /*主標字體大小*/
    --vicefont:26px;    /*副標字體大小*/
    --font:14px;        /*內文字體大小*/
    --fw-specfont: 500; /*主/副標font-weight*/
}
img {
    width: 100%;
    vertical-align: text-top;
}

/* 格線設計 */
.container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}


/* 不等寬格線設計 container > row > col-()*/
[class*="col-"]{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.col-1{width: 8.3333%;}
.col-2{width: 16.6666%;}
.col-3{width: 25%;}
.col-4{width: 33.3333%;}
.col-5{width: 41.6666%;}
.col-6{width: 50%;}
.col-7{width: 58.3333%;}
.col-8{width: 66.6666%;}
.col-9{width: 75%;}
.col-10{width: 83.3333%;}
.col-11{width: 91.6666%;}
.col-12{width: 100%;}
@media screen and (min-width:768px) {
    .col-md-1{width: 8.3333%;}
    .col-md-2{width: 16.6666%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.3333%;}
    .col-md-5{width: 41.6666%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.3333%;}
    .col-md-8{width: 66.6666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.3333%;}
    .col-md-11{width: 91.6666%;}
    .col-md-12{width: 100%;}
}
@media screen and (min-width:992px) {
    .col-lg-1{width: 8.3333%;}
    .col-lg-2{width: 16.6666%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.3333%;}
    .col-lg-5{width: 41.6666%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.3333%;}
    .col-lg-8{width: 66.6666%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.3333%;}
    .col-lg-11{width: 91.6666%;}
    .col-lg-12{width: 100%;}
}
@media screen and (min-width:1200px) {
    .col-xl-1{width: 8.3333%;}
    .col-xl-2{width: 16.6666%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.3333%;}
    .col-xl-5{width: 41.6666%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.3333%;}
    .col-xl-8{width: 66.6666%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.3333%;}
    .col-xl-11{width: 91.6666%;}
    .col-xl-12{width: 100%;}
}

/* 等寬格線設計 container > row-cols-() > col*/
[class*="cols-"] > .col{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.row-cols-1 .col{ width: 100%; }
.row-cols-2 .col{ width: 50%; }
.row-cols-3 .col{ width: 33.333333%; }
.row-cols-4 .col{ width: 25%; }
.row-cols-5 .col{ width: 20%; }
.row-cols-6 .col{ width: 16.666666%; }

@media screen and (min-width:768px) {
    .row-cols-md-1 .col{ width: 100%; }
    .row-cols-md-2 .col{ width: 50%; }
    .row-cols-md-3 .col{ width: 33.333333%; }
    .row-cols-md-4 .col{ width: 25%; }
    .row-cols-md-5 .col{ width: 20%; }
    .row-cols-md-6 .col{ width: 16.666666%; }
}
@media screen and (min-width:992px) {
    .row-cols-lg-1 .col{ width: 100%; }
    .row-cols-lg-2 .col{ width: 50%; }
    .row-cols-lg-3 .col{ width: 33.333333%; }
    .row-cols-lg-4 .col{ width: 25%; }
    .row-cols-lg-5 .col{ width: 20%; }
    .row-cols-lg-6 .col{ width: 16.666666%; }
}
@media screen and (min-width:1200px) {
    .row-cols-xl-1 .col{ width: 100%; }
    .row-cols-xl-2 .col{ width: 50%; }
    .row-cols-xl-3 .col{ width: 33.333333%; }
    .row-cols-xl-4 .col{ width: 25%; }
    .row-cols-xl-5 .col{ width: 20%; }
    .row-cols-xl-6 .col{ width: 16.666666%; }
}