a {
    text-decoration: none;
    color: var(--clr-font);
}
a:hover{
    color:  var(--clr-font);
}

.shoppingcart-page {
    /* background-color: var(--clr-bg-g); */
    background-color: #f5f5f5;
    

}

.process span,
.fa-angle-right {
    color: #AAAAAA;
    font-size: 14px;

}

.process span:nth-of-type(1) {
    color: var(--clr-font);
    font-weight: bold;
}
.details-name{
    width: 150px;
}


.shoppingcart,.recheck-item {
    background-color: #ffffff;
    border-radius: 6px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}


input[type="checkbox"]:checked {
    color: var(--clr-primary);
}

#quantity-control{
    width: 50px;
    margin: 0 10px;
}

#checkout-selectall,
#checkout-deleteitem
{
    cursor: pointer;
}

.cart-title {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}

.cart-content {
    padding: 0 20px;
    border-top: 1px solid var(--clr-bg-g);
    border-bottom: 1px solid var(--clr-bg-g);
}



.cart-item {
    position: relative;
    padding: 20px 0;
}

.cart-item:not(:last-of-type) {
    border-bottom: 1px solid var(--clr-bg-g);
}

.null-item{
    display: flex;
    /* display: none ; */
    
}
.order-null a{
    text-decoration:none !important;
}
.order-null {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.order-null p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: var(--clr-specfont);
    margin-bottom: 30px;
}

.order-null-img {
    width: 150px;
    margin-bottom: 10px;
}

.photo-area {
    position: relative;
    height: 80px;
}

.photo-area .blocker {
    position: absolute;
    width: 120px;
    height: 80px;
    margin-left: 20px;
    top: 0;
    left: 0;
    background-color: #fff8;
    pointer-events: none;
    opacity: 0;
}
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.cart-item .item-photo {

    width: 120px;
    height: 80px;
    margin-left: 20px;
    background-image: url("../images/dog2.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;

}

.photo-area:hover .blocker {
    opacity: 1;
}

.cart-item .item-details {
    padding: 0 10px;
    font-size: var(--font);
    width: 0;
    flex-grow: 1;
}

.item-details a {
    text-decoration: none;
    color: var(--clr-font);
    font-weight: bold;
}
.item-details select{
    width: 100px;
}
.item-details a:hover {
    text-decoration: underline;
}

.details-name~p:not(:last-of-type) {
    color: #666;
}

.item-details p:nth-of-type(3) {
    text-align: end;
    color: var(--clr-border);
    font-weight: bold;
}
.item-icons button{
    background-color: transparent;
}
.item-icons {
    
    /* margin-top: 10px; */
    position: absolute;
    bottom: 10px;right: 10px;
    
}

.accordion-body{
    padding: 0px !important;
    

}

.accordion-item {
    /* width: 130px; */
}
.accordion-body option, .accordion-body select{
    font-size: 12px;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: transparent !important;
}
.totalamount{
    color: var(--clr-border) !important;
}

.checkout, .remove-all{
    padding: 20px;
}

.checkout-actions,.remove-actions {
    display: flex;
    align-items: center;
    color: #666;
    /* border-right: 1px solid var(--clr-bg-g); */
}
.remove-actions:hover{
    cursor: pointer;
}

.final-price span:first-child {
    font-size: 12px;
    color: #666;
}

.final-price span:last-child {
    font-size: 22px;
    color: var(--clr-border);
}

.back-home {
    color: var(--clr-border);
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.back-home:hover,.resume-shopping .fa-angle-right {
    color: var(--clr-border);
}

.accordion-button{
    /* font-size: 14px; */
    padding: 5px;
    
    
}
.accordion-button:not(.collapsed)::after {
    color: black !important;
}

.pet-set{
    
    text-align: center;
    width: fit-content;
    background-color: var(--clr-primary);
}

.pet-selection{
    
    border-top: 1px solid #AAA5;
    padding: 10px 0;
}

.select-others{
    background-color: red;
    color: white !important;
    width: fit-content;
    padding: 5px;
    border-radius: 6px;
    /* margin-top: 10px; */
}
.redirection{
    color: red !important;
}

.popular-recommend h2{
    font-weight: bolder;
    font-size: 20px;
    
}
.time-select span{
    width: 100%;
    margin-right: 20px;
    
}



/* RWD min992px */
@media screen and (min-width:768px){
    .cart-item .item-details {
        display: flex;
        justify-content: space-evenly;
    }
    .totalamount{
        margin-top: 0 !important;
    }
    .pet-selection, .remark, .time-select{
        margin: 0;
    }
    
    .select-others{
        margin-top: 0px;
    }

    .item-details{
        display: flex;
        align-items: center;
    }
    .time-select span{
        text-align: center;
        display: block;
    }
    .accordion-item{
        width: 200px;
    }

}

/* 這邊開始是訂購完成之CSS */

.placed-item{
    box-shadow: 0px 0px 4px var(--clr-bg-g);
    border-radius: 6px;
    margin: 20px 5px;
    
}

.show-money{
    padding: 20px 0;
    font-weight: bold;
    
}
.show-money .final-price span:first-child{
    font-size: 20px;
    color: var(--clr-font);
}

.back-cart, .back-orderlist
{
    color: var(--clr-border);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.back-home:hover, .back-cart:hover, .back-orderlist:hover
{
    color: var(--clr-border);
}


.ordered-cart {
    color: #AAAAAA !important;
}

.process-ordered span:nth-of-type(3) {
    color: var(--clr-font);
    font-weight: bold;
}
/* 這邊結束是訂購完成之CSS */