*{
    
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    i{
        color: #518432;
        font-size: 25px;
        display: inline-block;
        padding: 5px 15px;
    }
}


.wrap{
    width: 100%;
    
    
}

.header{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    position: fixed;
    align-items: center;
    z-index: 90;
    #menu-switch{
        position: absolute;
        /* display: none; */
     
    }
}
.header .menu-group{

    .col-left{
        overflow: scroll;
        position: fixed;
        top: 0px;
        left: -1000px;
        bottom: 0;
        width: 380px;
        background-color: white;
        z-index: 40;
        
    }
    .shadow{
        background-color: #0009;
        position: fixed;
        top: 0;left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 30;
    }
}

.menu-group a{
    
    display: block;
    padding: 10px 30px; 
    i{
        color: black;
    }
}

.menu-group .menu-functions{
    display: flex;
    box-sizing: border-box;
    a{
        text-align: center;
        width: 0;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc8;
    }
    a:first-of-type{
        background-color: black;
    }
}

.menu-functions a:first-of-type i, 
.menu-functions a:first-of-type span,
.menu-group .close-menu span
{
    color: white;
    
}

.menu-links{
    
    padding: 30px 25px;
    > a span{
        display: inline-block;
        background-color: rgb(2, 216, 253);
        color: white;
        font-size: 12px;
        padding: 0 10px;
        position: absolute;
        right: 40px;
        bottom: 50px;
    }

    li{
        list-style: none;
    }
    i{
        cursor: pointer;
    }

}
.nav-item > a{
    font-weight: bold;
}

.nav-item.C,
.nav-item.E{
    position: relative;
    .tag{
        position: absolute;
        right: 40px;top: -8px;
        background-color: #48C8FD ;
        color: white;
        font-size: 12px;
        padding: 1px 10px;
        font-weight: bold;
        text-align: center;
        
    }
}

.nav-item.B .lv2,
.nav-item.C .lv2,
.nav-item.E .lv2{

    span a{
        font-size: 14px;
        line-height: .1;
    }
    h3 a:hover{
        color: #518432;
    }
    h3::after{
        content: '';
        background-color: #518432;
        height: .5px;
        display: block;
        position: relative;
        top: -20px;
        transform: scaleX(.2);
        left: -125px;
    }

}



.menu-links .nav-item li{
    display: none;
    font-size: 14px;
    img{
        width: 100%;
        display: none;
    }
}
 #openA:checked ~ li,
 #openB:checked ~ li,
 #openC:checked ~ li,
 #openD:checked ~ li,
 #openE:checked ~ li
{
    display: block;
}


 


.menu-links input{
    display: none;
}

.menu-links a{
    position: relative;
    padding: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
    i{
        font-size: 18px;
    }
}

.close-menu{
    width: 380px;
    position: fixed;
    background-color: #518432;
    bottom: 0;
    left: -100%;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    display: block;
    justify-content: center;
    span{
        display: block;
        padding: 0 10px;
        color: white;
    }
}



.header .logo{
    width: 140px;
    box-sizing: border-box;
    position: relative;
    left: 0px;
    img{
        width: 100%;
        vertical-align: top;
    }
}

.header .icons{
    a:nth-of-type(2){
        display: none;
    }
    a:nth-of-type(3){
        position: relative;
        span{
            position: absolute;
            right: 25px;
            top: -20px;
            color: #518432;
            font-size: 12px;
        }
    }
}
// header結束

.intro{
    background-image: url("https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-slide10.jpg?v=1585303728");
    height: 495px;
    position: relative;
    display: flex;
    margin-bottom: 50px;
}
.intro .intro-text{
    align-self: center;
    margin-left: 30px;
    line-height: 1.7;
    z-index: 1;
    h2{
        font-size: 30px;
        display: block;
        padding: 5px 0;
        
    }
    span,a{
        display: block;
        font-size: 18px;
        padding: 10px 0;
    }
    a{
        background-color: #000;
        color: white;
        text-align: center;
        width: 180px;
        font-size: 14px;
    }

    
}



.intro .plant-img{
    width: 380px;
    aspect-ratio: 360/353;
    position: absolute;
    bottom: 30px;
    right: 0;
    animation: appear 2s ease 1;
    @keyframes appear {
        from{transform: scale(.8);}
        to{transform: scale(1);}
    }
    img{
        width: 350px;
        vertical-align: bottom;
    }
}

.intro .line-ctrl{
    position: absolute;
    bottom: 10%;
    left: 30%;
    z-index: 3;
    .fa-solid{
        transform: scale(1.7,0.6);
    }
    a:nth-of-type(1) i{
        
        color: black;
    }
    a:nth-of-type(2) i{
        color: #ccc;
    }
}

.benefits{
    .title,.display{
        padding: 0 15px;
        margin-bottom: 50px;
    }
    h3{
        font-size: 24px;
        line-height: 1.6;
        text-align: left;
        color: black;
    }
    .title h3:first-child{
        margin-bottom: 40px;
        text-align: center;
        color: #518432;
    }
    .title p{
        font-style: italic;
        text-align: center;
    }
    p{
        text-align: left;
        color: #949494;
    }
    .display li{
        list-style: none;
        display: block;
        margin-bottom: 40px;

    }
    .display li h3{
        padding-bottom: 10px;
    }
    .display .imgPlacer{
        width: 80%;
        
        left: 0;
        right: 0;
        margin: auto;
        img{
            width: 100%;
            vertical-align: text-bottom;
        }
    }
}

.staff-pick{
    margin-bottom: 50px;
    h2{
        text-align: center;
        display: block;
        font-size: 25px;
        color: #518432;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }
}
[class*="cols-"] > .col{
    margin-bottom: 30px;
}


.staff-pick .item{
    position: relative;
    width: 100%;
    overflow: hidden;
    > a{
        position: relative;
        
    } 
    img:first-of-type{
        position: absolute;
        opacity: 0;
    }
    :hover img:first-of-type{
        opacity: 1;
    }
    
    .shadow-layer{
        width: 100%;
        height: 240px;
        background-color: #fff8;
        opacity: 0;
        position: absolute;
        z-index: 35;
        top: 0;
        left: 0;
        pointer-events: none;

    }
    :hover .shadow-layer{
        opacity: 1;
    }
    // padding-bottom: 25px;
    // RWD再寫
    .view-list{
        display: flex;
        position: absolute;
        top: 100px;
        right: 20px;
        z-index: 40;
        opacity: 0;
        display: none;
        
        a{
            display: block;
            width: 50px;
            height: 50px;
            background-color: #fff;
            box-sizing: border-box;
            margin-right: 10px;
            border-radius: 50%;
            position: relative;
            
        }

        i{
            position: relative;
            top: 5px;
            right: 3px;
            
            color: #000;
            
        }
    }
    h3,span{
        display: block;
        text-align: center;
        font-weight: bolder;
        font-size: 14px;
    }
    h3{
        padding: 20px;
    }
    span{
        font-size: 18px;
    }
    img{
        
        aspect-ratio: 221/248;
    }
    .sale{
        position: absolute;
        right: 5px;
        top: 5px;
        width: 50px;
        background-color: #518432;
        color: white;
        padding: 8px 1px;
        text-align: center;
        border-top-left-radius:  50%;
        border-bottom-right-radius: 50%;
        font-weight: bold;
        font-size: 14px;
        
    }
    
}
.col:nth-of-type(5) .sale{
        left: -40px;
        top: 30px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        padding: 0;
        width: 80px;
}

.product-video{
    // height: 560px;
    margin-bottom: 50px;
    padding: 90px 15px 40px;
    background-image: url("https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-video1.jpg?v=1585532362");
    .text-area{
        padding-bottom: 50px;
    }
    .text-area,.video-area{
        // height: 50%;
        box-sizing: border-box;
    }

    
}
.text-area{
    h2{
        padding-bottom: 15px;
        color: #518432;
    }
    p{
        line-height: 1.6;
    }
    a{
        display: block;
        padding: 20px;
        width: 170px;
        height: 50px;
        box-sizing: border-box;
        margin-top: 25px;
        border: 1px solid black;
    }
    span{
        display: block;
        text-align: center;
        position: relative;
        bottom: 5px;
    }
    a:hover{
        background-color: #518432;
        border: 1px solid #518432;
        transition: .5s;
        span{
            color: white;
        }
        
    }
}
.video-area{
    width: 100%;
    aspect-ratio: 450/275;
    iframe{
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
}

.shop-ig{
    .ig-title{
        padding: 0 15px 25px;
        text-align: center;
    }

    
    i{
        display: block;
        padding: 10px;
        font-size: 60px;
        color: black;
    }
    h3{
        font-size: 22px;
        padding-bottom: 15px;
    }

}
.ig-album{
    display: flex;
    margin-bottom: 50px;
    
    .alubm-item{
        width: 50%;
        box-sizing: border-box;
        padding: 0 15px;
        position: relative;
        overflow: hidden;
    }
    .alubm-item:nth-child(3),
    .alubm-item:nth-child(4){
        display: none;
    }
    .alubm-item img{
        width: 100%;
        vertical-align: top;
        
    }
    .alubm-item a{
        position: relative;
        
        
    }
    .alubm-item .box-shadow{
        width: calc(100% - 30px);
        position: absolute;
        box-sizing: border-box;
        padding: 0 15px;
        top: 0;
        left: 15px;
        height: 100%;
        background-color: #0008;
        pointer-events: none;
        opacity: 0;
        
    }
    .alubm-item:hover > .box-shadow{
        opacity: 1;
        transition: .5s ease-in;
    }
}
.footer{
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}
.footer .footer-title{
    left: 0;
    right: 0;
    margin: 0 auto 30px;

    width: 160px;
    box-sizing: border-box;
    
    img{
        width: 100%;
        vertical-align: top;
    }
}

.footer-service{
    padding: 0 15px;

    ul{
        display: flex;
        justify-content: center;
        padding: 0 30px;
        margin-bottom: 30px;
    }

    li{
        display: block;
        padding: 0 15px;
        font-size: 12px;
        font-weight: bolder;
        
    }

   
    ul li:not(:first-child):before {
        content: "";
        background-color: #aaa9a9;
        width: 24px;
        height: 1px;
        display: none;
        vertical-align: middle;
        position: relative;
        left: -15px;
    }
    
}

.footer-media{
    height: 50px;
    padding: 0 15px;
    margin-bottom: 30px;
    ul{
        
        height: 50px;
        display: flex;
        justify-content: center;
        
    }

    li{
        
        display: block;
        padding: 0 15px;
        font-size: 12px;
        font-weight: bolder;
        
        
    }
    i{
        font-size: 15px;
        color: white;
        position: relative;
        top: 9px;
        right: 3px;
        z-index: 10;
    }
    a{
        width: 40px;
        height: 40px;
        margin: 0 -7px;
        display: block;
        background: black;
        background-size: 200% 200%;
        border: 2px solid black;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
       
    }
    a:hover .green{
        
        top: 0px;
        left: 0px;
        transition: 1s;
        

    }
}
.footer ul li .green{
    width: 50px;
    height: 50px;
    background-color: #518432;
    position: absolute;
    top: 100px;left: 5px;
    // border-radius: 50%;
   
    
    
}
.footer-copyright{
    p{
        color: #aaa9a9;
        font-size: 12.5px;
    }
}
//手機板結束


// RWD Starts
@media screen and(min-width:768px){
    
    .header{
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;//改
        
    }


//選單開始
    .header #header-ham{
        display: none; //
    }
    .col-left{
        position: relative;
        left: -100%;
    }
    .close-menu
    {
        display: none;
    }
    #shadow-mark{
        position: relative;
        left: -1000px;
    }
    .menu-functions{
        position: relative;
        left: -1000px;
    }

    .header .menu-group .col-left {
        overflow: hidden;
        position: relative;
        top: 0px;
    }



    
    

    .menu-group a{
        
        display: block;//
        left: -20px;//

    }

    .nav-item:hover > a{
        color: #518432;
    }
    .menu-group .lv1{
        display: flex;
        position: fixed;
        left: 30px;top: 30px;
        font-weight: bold;
        font-size: 12px;
        //第一層選單位置
    }
    .lv2{
        //第二層選單位置
        position: fixed;
        background-color: #fff;
        box-shadow: 0 2px 10px -2px #0000004d;
        // top: 80px; 晚點要調位置
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;
        // li{
        //     display: block;
        // }

    }
    .nav-item .lv2 a:hover{
        color: #518432;
    }

    .nav-item.C,
    .nav-item.E{
        .tag{
            left: 45px;
            top: -5px;
            width: 30px;
        }
    }

    //每個nav item調整寬度
    .nav-item.A .lv2{
        left: 25px;
        width: 960px;
        li{
            width: 290px;
            box-sizing: border-box;
            margin: 0 15px;
            a{
                color: #518432;
                position: relative;
                top: -10px;
            }
            
        }
        img{
            width: 100%;
            vertical-align: top;
        }
    }
    .nav-item.B .lv2{
        left: 100px;
        li{
            margin: 20px;
        }
        h3 a{
            color: #518432;
            
        }

        h3::after{
            height: 2px;
            display: block;
            position: relative;
            top: -5px;
            transform: scaleX(.4);//
            left: -40px;
        }

        span a{
            font-size: 14px;
            line-height: .2;
        }
    
    }
    .nav-item.C .lv2{
        width: 960px;
        left: 25px;
        display: flex;
        flex-wrap: wrap;
        
        li{
            margin: 20px;
            width: 240px;
            box-sizing: border-box;
            
        }
        li:nth-of-type(5){
            margin-top: -60px;
        }
        li:nth-of-type(2){
            position: relative;
            left: -30px;
        }
        li:nth-of-type(3){
            position: relative;
            left: -80px;
        }
        h3 a{
            color: #518432;
            
        }

        h3::after{
            height: 2px;
            display: block;
            position: relative;
            top: -5px;
            transform: scaleX(.2);//
            left: -95px;
        }

        span a{
            font-size: 14px;
            line-height: .2;
        }
        li#img-place{
            width: 200px;
            position: absolute;
            right: 20px;top: 20px;
            img{
                width: 100%;
                vertical-align: top;
            }
        }

    }
    .nav-item.D .lv2{
        width: 200px;
        left: 290px;
        box-sizing: border-box;
        li{
           position: relative;
           left: 40px;
           line-height: .1;

        }

       
    }
    .nav-item.E .lv2{
        background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/banner-menu2.png?v=1585551136);
        width: 600px;
        left: 160px;
        li{
            margin: 20px;
        }
        h3 a{
            color: #518432;
           
        }

        h3::after{
            height: 2px;
            display: block;
            position: relative;
            top: -5px;
            transform: scaleX(.3);//
            left: -63px;
        }

        span a{
            font-size: 14px;
            line-height: .2;
        }
    }




    .menu-links{
        
        padding: 0px;//
        li{
            font-size: 14px;//
        }


    }




    .menu-links .nav-item li{
        img{
            display: block;
        }
    }


    .nav-item.A:hover > .lv2 li,
    .nav-item.B:hover > .lv2 li,
    .nav-item.C:hover > .lv2 li,
    .nav-item.D:hover > .lv2 li,
    .nav-item.E:hover > .lv2 li
    {
        
        display: block;
        
    }


    .menu-links a{
        
        padding: 20px;//
        display: block;//
        justify-content:center;//
        i{
            display: none;//
        }
    }



//選單結束


    .header .logo{
        width: 170px;//
        left: -120px;//
        z-index: 22;//
    }

    .header .icons{
        margin-right: 20px;
        i{
            color: black;
            margin-left: -15px;
        }
        
        
        a:nth-of-type(2){
            display: inline-block;
        }
        a:nth-of-type(3){
            
            span{
                font-weight: bolder;
                right: 5px;
                top: 0;
                color: black;
                font-size: 12px;
            }
            :hover ~ span{
                color: #518432;
            }
        }
    }
    // header結束


    .intro{
        padding: 100px 0;//改
    }
    .intro .intro-text{
        margin-left: 150px;//改
        h2{
            font-size: 60px;//改
        }
    }
    .intro .plant-img{
        width: 300px;//改
    }
    .intro .line-ctrl{
        display: none;//改
    }
//intro結束

    .benefits{
        .title h3{
            font-size: 32px; //改
        }
        .display{
            display: flex;
            align-items: center;
        }
        .display ul{
            width: 33.33333%; //改
        }
        .display .imgPlacer{
            width: 400px;
        }
    }
    .staff-pick h2{
        font-size: 30px;
    }
    .staff-pick .item{
        padding-bottom: 25px;
    }
    .col:nth-of-type(5) .sale{
            left: 0px;
            top: 40px;
    }
    .staff-pick .item{
        .view-list{
            display: flex;
            position: absolute;
            top: 200px;
            right: 100px;
            z-index: 40;
            opacity: 0;
        }
    }


    .staff-pick .item:hover .view-list
    {
        opacity: 1;
    }

    .staff-pick .item .shadow-layer{
        height: 440px;
    }
    .staff-pick .item a{
        overflow: hidden;
    }



//staff-pick結束

    .product-video{
        display: flex;
        align-items: center;
        .text-area,.video-area{
            width: 50%; 
        }
    }
    .text-area h2{
        font-size: 30px;
    }
//video結束

    .shop-ig{

        .ig-title{
            padding-bottom: 50px;
        }
        h3{
            font-size: 30px;
            padding-bottom: 20px;
        }

    }
    .ig-album{
        display: flex;
        margin-bottom: 50px;
        
        .alubm-item{
            width: 50%;
            box-sizing: border-box;
            padding: 0 15px;
            position: relative;
            overflow: hidden;
        }
        .alubm-item:nth-child(3),
        .alubm-item:nth-child(4){
            display: block;
        }
    }

    //shop-ig結束
    .footer-service{
        ul li:not(:first-child):before {
            display: inline-block;
        }
    }
    //footer結束


}


   